
@model IEnumerable<Sindicato_v1.Models.ViewModels.CorrespondenciaInfoEntity>

@{
    ViewBag.Title = "Show Correspondencia";
}

<br />
<br />
<br />
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index/">SIICE</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Agremiado/Agremiados">Agremiados</a></li>
                <li><a href="~/Deducciones/BusquedaDeduccion">Deducciones</a></li>
                <li><a href="~/ReportPDFActas/ShowActas">Actas</a></li>
                <li><a href="~/ReportPDFNoticias/ShowNoticias">Noticias</a></li>
                <li><a href="~/Gestiones/Gestiones">Gestiones</a></li>
                <li><a>Hola, @ViewData["Nombre"] @ViewData["Apellido"]</a></li>
                <li><a href="~/Usuario/close_session"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="breadcrumb">
    <li><a href="/Home/Index/">SIICE - Inicio</a></li>
    <li><a href="/Usuario/Administrador/">Administrativo</a></li>
    <li>Actas</li>
</ul>

<div>
    <h2>Listado de Correspondencia</h2>
    <h5>Listado de correspondencia que se han generado en el sistema</h5>
</div>

<hr class="hr-custom" />

<div class="container" style="text-align: left; padding: 5px;">
    <a href="~/ReportPDFCorrespondencia/PDFCorrespondencia" class="btn btn-primary">Crear nueva correspondencia</a>
</div>

<br />

<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Fecha de Creación
        </th>
        <th>
            Título
        </th>
        <th>
            Asunto
        </th>
        <th>
            Contenido del documento
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Correspondencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_Creacion_C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo_Correspondencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitulo_Correspondencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenido_Correspondencia)
            </td>
            <td>
                @Html.ActionLink("Editar Acta", "Editar_Actas", new { IdActas = item.id_Correspondencia }) |
                @Html.ActionLink("Generar PDF", "PDF", new { IdActas = item.id_Correspondencia }) |
                @Html.ActionLink("Eliminar", "Eliminar_Acta", new { IdActas = item.id_Correspondencia }, new { onclick = " return DeleteConfirm()" })
            </td>
        </tr>
    }

</table>

<div>
    <a href="/Usuario/Administrador/">Volver</a>
</div>


@if (ViewBag.Msg == "Agregado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se agregó exitosamente!",
                icon: "success"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Modificado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se modificó exitosamente!",
                icon: "info"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Eliminado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se eliminó exitosamente!",
                icon: "warning"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Error")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "ERROR",
                text: "¡Este elemento no se puede eliminar porque está siendo utilizado!",
                icon: "error"
            });
        }
    </script>
}

<script type="text/javascript">
    function DeleteConfirm() {
        if (confirm("¿Eliminar este registro?"))
            return true;
        else
            return false;
    }
</script>

